*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

label, input{
    display: block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13px;
    width: 100%;
}

form{
    width: 330px;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    margin: 30px auto;
}

input[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
}

section{display:}

#esquerda{
    width: 35%;
    
    float: left;
}

#direita{
    width: 65%;
  
    float: left;
}

table{
    background-color:rgba(0,0,0,.2);
    width: 90%;
    margin: 30px auto;
}

tr{
    line-height: 30px;

}

tr#titulo{
    font-weight: bold;
    background-color: rgba(0,0,0, .6);
    color: white;
}

td{padding: 0 5px;}
a{
    background: #fff;
    color: #000;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
}

h2{text-align: center;}


